/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  height: 100vh;
  background-image: asset-url('SystemBG.png');
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  overflow: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-areas: "menu header"
    "menu main";
  grid-template-rows: min-content 1fr;
  grid-template-columns: min-content 1fr;

  .app-main {
    &.login {
      grid-area: menu / header / main;
      align-self: center;
      justify-self: center;
    }
  }

  .app-notifications {
    .notice {
      color: greenyellow;
    }

    .alert {
      color: indianred;
    }
  }

  .app-menu {
    grid-area: menu;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1;
  }

  .app-header {
    grid-area: header;
    position: sticky;
    top: 0px;
    right: 0px;
  }

  .app-content {
    grid-area: main;
  }

  .false-toggle-switch {
    display: inline-block;
    height: 10px;
    width: 15px;
    background-color: #CCC;
    border-radius: 1em;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      border-radius: 50%;
      background-color: #777;
      width: 8px;
      height: 8px;
      top: 1px;
      left: 1px;
    }

    &.active {
      &::before {
        background-color: #67F;
        width: 8px;
        height: 8px;
        right: 1px;
        left: auto;
      }
    }
  }
}

#error_explanation {
  border: 2px solid #FF5555;
  color: #FF5555;
  padding: .4em 1em;
  font-size: .9em;
  margin-bottom: 1em;

  h2 {
    font-weight: bold;
  }

  ul {
    list-style-type: decimal;
    padding-left: 2em;

    li {
      font-size: .9em;
    }
  }
}

table {
  font-size: .9rem;
}