$input_border_color: #021F59;
$input_border_width: 1px;
$label_color: #172B4D;

form.default {
  label {
    color: $label_color;
  }

  input,
  select {
    height: 2.5rem;
    width: 100%;
    border: $input_border_width solid $input_border_color;
    border-radius: 4px;
  }

  textarea {
    width: 100%;
    border: $input_border_width solid $input_border_color;
    border-radius: 4px;
  }

  input[type=checkbox] {
    width: 1.5rem;
    height: 1.5rem;
  }

  input[disabled] {
    border: $input_border_width solid $input_border_color;
    background-color: #EEE;
  }

  .input {
    margin-bottom: .5rem;
  }

  .error_notification {
    color: white;
    background-color: #F95B5B;
    border-radius: .3rem;
    padding: .1rem .5rem;
    margin: 1rem 0;
  }

  .field_with_errors {
    input {
      margin-bottom: 0;
      border-color: #fd041b;
    }

    .error {
      font-size: .8rem;
      color: #fd041b;
      background-color: #ffe5e8;
      border-radius: .2rem;
      padding: .05rem .3rem;
    }
  }
}