nav {
  position: sticky;
  top: 0;

  a:visited {
    color: white;
  }

  a:hover {
    background-color: #f1dc03;
    color: #555;
  }

  a.active {
    background-color: #f1dc03;
    color: #555;
    font-weight: bold;
  }

  .main-menu {
    position: sticky;
    top: 0;
  }

  .main-menu img {
    filter: drop-shadow(2px 1px 1px #BBB);
  }

  .main-menu ul li {
    background-color: #0378A6;

    &.active {
      margin-left: 5px;
      border-left: 5px solid #F2BE5C;
    }
  }
}