// Place all the styles related to the Providers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// PURCHASES
// providers/purchases/index

#providers_purchases_search_results {
  ul li {
    cursor: pointer;
    padding: 0 .2em;

    &:hover {
      color: white;
      background-color: rgb(59, 130, 246);
    }
  }
}